// Element Aligment Mixins
//-----------------------------

//__ Element center aligment
@mixin center-element() {
  margin-left: auto;
  margin-right: auto;
}
//** Example: @include center-element();

//__ Block element center aligment
@mixin block-center-element($top-space, $bottom-space){
	margin-top: $top-space;
  margin-bottom: $bottom-space;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
//** Example: @include block-center-element(40px, 40px);


//__ Element Vertical alignment
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  @include animation-transform(translateY(-50%));
}
//** Example: @include vertical-align();
