//-----------------------------
//
//    Aligment Mixins
//
//-----------------------------

//__ Centrar Elementos
@mixin center-element() {
  margin-left: auto;
  margin-right: auto;
}
//** Como aplicarlo? @include center-element(); **

//__ Centrar elemento bloque con margenes
@mixin block-center-element($top-space, $bottom-space){
	margin-top: $top-space;
  margin-bottom: $bottom-space;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
//** Como aplicarlo? @include block-center-element(40px, 40px); **
