//-----------------------------
//
//    Global Mixins
//
//-----------------------------

//__ UL/OL Reset
@mixin clear-list($list-margin, $list-padding, $list-type) {
  margin: $list-margin;
	padding: $list-padding;
	list-style-type: $list-type;
}
//** Como aplicarlo? @include clear-list(0, 0, none); **

//__ Placeholder
@mixin placeholder {
  ::-webkit-input-placeholder {@content;}
  :-moz-placeholder           {@content;}
  ::-moz-placeholder          {@content;}
  :-ms-input-placeholder      {@content;}
}
//** Como aplicarlo? @include placeholder {style here} **
