// Position Mixins
//-----------------------------

// Position Mixin
@mixin element-position ($position, $top-position: auto, $right-position: auto, $bottom-position: auto, $left-position: auto) {
  position: $position;
  top: $top-position;
  right: $right-position;
  bottom: $bottom-position;
  left: $left-position;
}
//** Example: @include element-position (absolute,20px,0,0,20px);
