// Responsive Wrapper Mixins
//-----------------------------
@mixin responsive-holder($ratio: 1 1, $selector: "> :first-child") {
	$selector: unquote($selector);
	padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
	position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  &::before {
    display: block;
    content: "";
  }
	#{$selector} {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
	}
}

//** Example: @include fluid-aspect(16 9); default
//            @include fluid-aspect(4 3, iframe);
//            @include fluid-aspect(5 3, "&--fluid");
