//-----------------------------
//
//    zindex Mixins
//
//-----------------------------

@mixin zindex ($layer) {
    @if $layer == 1 {z-index: 10;}
    @else if $layer == 2 {z-index: 20;}
    @else if $layer == 3 {z-index: 30;}
    @else if $layer == 4 {z-index: 40;}
    @else if $layer == 5 {z-index: 50;}
    @else if $layer == 6 {z-index: 60;}
    @else if $layer == 7 {z-index: 70;}
    @else if $layer == 8 {z-index: 80;}
    @else if $layer == 9 {z-index: 90;}
    @else if $layer == 10 {z-index: 100;}
}

//** Como aplicarlo? @include zindex(5); **
