// Main Color Classes
//-----------------------------

///__ Text color Class
.text-color{
	color: $text-color !important;
}
.text-color-bg{
	background-color: $text-color !important;
}

//__ Primary Color Class
.brand-primary{
	color: $brand-primary !important;
}
.brand-primary-bg{
	background-color: $brand-primary !important;
}

//__ Secondary Color Class
.brand-secondary{
	color: $brand-secondary !important;
}
.brand-secondary-bg{
	background-color: $brand-secondary !important;
}
