//-----------------------------
//
//    Images / Media
//
//-----------------------------

img{
  //** Max Width Responsive
  &.img-responsive,
  &.img-full-responsive{
    display: block;
    height: auto;
  }
  &.img-responsive{
    max-width: 100%;
  }
  &.img-full-responsive{
    width: 100%;
  }
}
