// Demo Variables
//---------------------------------------------------------------------------------------
$grid-border-color:  #d9d9d9 !default;
$grid-bg-color:  		 #f1f1f1 !default;
$grid-box-bg-color:  #fefefe !default;

$example-caption:		 14px !default;

$main-animation:		 0.15s ease-in-out !default;

// Example Header & Nav
//---------------------------------------------------------------------------------------
.page{
	@include animation($main-animation);
	margin-left: 240px;
	padding: 0 40px;
	overflow: hidden;
	@media (max-width: 1280px){
		margin-left: 0;
		padding: 0;
	}
}
header{
	@include animation($main-animation);
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	position: fixed;
	top:0;
	left:240px;
	right:0;
	background-color: $brand-primary;
	z-index: 999;
	padding:16px 15px;
	@media (max-width: 1280px){
		left: 0;
	}
	// page title
	h1{
		color: #fff;
		display: inline;
		font-size: 20px;
    font-weight: 300;
    line-height: 1.16667em;
		margin:0;
	}
	// Toggle button
	> .toggle {
		border: 0;
		background-color: transparent;
		outline: none;
		border: 0;
		display: inline-block;
		background-color: transparent;
		background-image: none;
		text-align: center;
		white-space: nowrap;
		cursor: pointer;
		touch-action: manipulation;
		user-select: none;
		position: relative;
		top: 2px;
		@media (min-width: 1280px){
			display: none;
		}
	}

	> .toggle > .icon {
		position: relative;
		margin-top: 8px;
		margin-bottom: 8px;
		&,
		&:before,
		&:after {
			display: block;
			width: 20px;
			height: 2px;
			transition: background-color 0.15s linear, transform 0.15s linear;
			background-color: #fff;
		}
		&:before,
	  &:after {
	    position: absolute;
	    content: "";
	  }
		&:before {
	    top: -6px;
	  }
		&:after {
	    top: 6px;
	  }
	}
}

aside.navigation{
	@include animation($main-animation);
	background-color: #fff;
	width: 240px;
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	z-index: 9999;
	overflow-y: auto;
	border-right: 1px solid #eee;
	@media (max-width: 1280px){
		left: -260px;
		border: none;
		box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
	}
	&.active{
		left: 0;
	}
	// header
	.aside-head{
		padding: 9px 15px;
		border-bottom: 1px solid #eee;
		line-height: 1.2;
		a{
			display: block;
			color: #656565;
			text-decoration: none;
			font-weight: 600;
			font-size: 18px;
			&:hover{
				text-decoration: underline;
			}
		}
		small{
			font-size: 70%;
		}
	}
	// nav
	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
		li{
			a{
				display: block;
				padding: 8px 24px;
				font-weight: 500;
				font-size: 16px;
				color: #454545;
				text-decoration: none;
				&:hover{
					background-color: #f1f1f1;
				}
				&:focus{
					outline: none;
				}
			}
			ul{
				margin:0 !important;
				li{
					a{
						font-weight: 400;
						padding-left: 34px !important;
						font-size: 14px;
					}
				}
			}
		}
	}

	// dropdown style for demo
	.dropdown.open ul{
		position: relative !important;
		background-color: transparent !important;
	}
	.dropdown > a:after{
		width: 6px;
		height: 6px;
		position:absolute;
		right: 24px;
		top: 14px;

	}
}

// Main site overlay
.overlay{
	display: block;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9998;
	background-color: rgba(0, 0, 0, .6);
	opacity: 0;
	visibility: hidden;
	&.overlay-active{
		opacity: 1;
		visibility: visible;
	}
}

// Example Body Style
//---------------------------------------------------------------------------------------
body{
	&.example{
		padding-top: 60px;
		font-family: 'Roboto', sans-serif;
	  font-size: 18px;
	  line-height: 1.6;
	  color: #444;
	  background-color: #FCFCFC;
		section.initial{
			padding-top: 60px;
		}
		h2{
			margin: 0 0 25px;
			font-size: 50px;
			color: #666;
			font-weight: 300;
			line-height: normal;
		}
		h3{
			font-weight: 500;
			color:#222;
			font-size: 20px;
			margin:0 0 15px;
			line-height: normal;
		}
		p, ul{
			margin:0 0 20px;
			color: #555;
			font-weight: 300;
		}
		p > small{
			font-size: 80%;
			font-style: italic;
		}
		code{
			background-color: #eee;
			padding: 20px;
			margin-top: 0;
			display: block;
			pre{
				line-height: .95;
				font-size: 13px;
				font-family: monospace;
			}
		}
		em{
			font-style: normal;
			font-weight: 600;
			color: $brand-secondary;
			white-space: nowrap;
		}
		hr{
			margin: 60px 0;
			border-top: none;
			border-bottom: 1px solid #eee;
		}
		// Example holders
		.example-white-holder{
	    padding: 40px 20px;
	    background-color: #fff;
	    border: 1px solid #f3f3f3;
			p{
				font-size: 14px;
			}
		}
	}
	&#grid-example{
		.example-holder{
			background-color: #f1f1f1;
			padding: 2px;
			[class*="col-"],
			.grid-demo {
				font-size: 12px;
			  border: 3px solid #f1f1f1;
			  background-color: #fff;
				padding: 15px;
			}
		}
	}
}



// Footer Style
//---------------------------------------------------------------------------------------
.prefooter{
	border-top: 1px solid #eee;
	margin-top: 40px;
	padding: 20px 0;
	font-size: 12px;
	color: #999;
	span{
		color: #222;
		&.autor{
			@media (max-width: 410px){
				display: none;
			}
		}
	}
	p{
		@media (min-width: 410px){
			display: none;
		}
	}
	a{
		color:#666;
		@media (min-width: $device-lg){
			text-decoration: none;
		}
		&:hover{
			text-decoration: underline;
		}
	}
}



// grid boxes style
// GRID ROW
@for $i from 1 through 8 {
  .grid-#{$i}{
		div{
			border: 0.5px solid $grid-border-color;
			background-color: $grid-bg-color;
			padding: 5px;
	    span{
	    	min-height: 150px;
				display: block;
				padding: 20px;
				background-color: $grid-box-bg-color;
			}
		}
  }
}

// Shadows
.example-box{
    width: 120px;
    height: 120px;
    background: #fff;
    display: inline-block;
    border: 1px solid $grid-border-color;
    margin: 10px 20px;
		@include animation(0.5s ease-in-out);
    &.deep-1{
    	@include main-deep(1);
			@include zindex(1);
    }
    &.deep-2{
    	@include main-deep(2);
			@include zindex(6);
    }
    &.deep-3{
    	@include main-deep(3);
			@include zindex(10);
    }
    &.deep-4{
    	@include main-deep(4);
			@include zindex(2);
    }
    &.deep-5{
    	@include main-deep(5);
			@include zindex(5);
    }

    &:hover {
				@include animation-transform(scale(1.5));
    }
}


// Example Body Style
//---------------------------------------------------------------------------------------
.hero{
	background-color: #777;
}



// Index Style
//---------------------------------------------------------------------------------------
body#grid-home{
	font-family: 'Roboto', sans-serif;
	.hero{
		background-image: linear-gradient(-20deg, #88d3ce 0%, #6e45e2 100%);
		h1, h2{
      color: #fff;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
       @media (max-width: $device-xs){
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
       }
    }
    h1{
      font-weight: 300;
      font-size: 56px;
      text-transform: uppercase;
      margin-bottom: 18px;
      @media (max-width: $device-xs){
        font-size: 28px;
      }
      strong{
        font-weight: 900;
        word-spacing: -0.15em;
      }
    }
    h2{
      margin-bottom: 50px;
      font-size: 28px;
			font-weight: 100;
      @media (max-width: $device-xs){
        margin-bottom: 30px;
        margin-top: 10px;
        font-size: 24px;
      }
    }
		.btn-white,
		.btn-download{
			color: #fff;
			border-color: #fff;
			@media (max-width: 540px){
				display: block;
				max-width: 340px;
				margin: 15px auto;
			}
			&:hover,
			&:active,
			&:focus{
				background-color: rgba(255, 255, 255, .2);
			}
		}
		.btn-download{
			@include box-shadow(1px 2px 6px rgba(0,0,0,0.3));
			background-color: $brand-secondary;
			border-color: $brand-secondary;
			&:hover,
			&:active,
			&:focus{
				@include box-shadow(2px 3px 12px rgba(0,0,0,0.5));
				background-color: $brand-secondary;
			}
		}
	}
}

// Navbar Style
//---------------------------------------------------------------------------------------
.navbar-demo{
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	margin-bottom: 5px;
}

// Colores
//--------------------------------------------------------------------------------------
.demo-main-colors{
	list-style-type: none;
	padding: 0;
	li{
		padding: 20px;
		color: #fff;
	}
}


// Download Icon
//--------------------------------------------------------------------------------------
.download-btn{
	position: absolute;
	top: 14px;
	right: 15px;
	@include border-radius(50%);
	@include square(34px);
	background-color: rgba(255, 255, 255, .4);
	@include animation(0.15s ease-in-out);
	.download.icon {
		@include animation(0.15s ease-in-out);
	  color: #fff;
	  position: absolute;
	  margin:19px 0 0 9px;
	  width: 16px;
	  height: 4px;
	  border-radius: 1px;
	  border: solid 2px currentColor;
	  border-top: none;
	}

	.download.icon:before {
	  content: '';
	  position: absolute;
	  left: 5px;
	  top: -12px;
	  width: 2px;
	  height: 10px;
	  background-color: currentColor;
	}

	.download.icon:after {
	  content: '';
	  position: absolute;
	  left: 3px;
	  top: -6px;
	  width: 4px;
	  height: 4px;
	  border-top: solid 2px currentColor;
	  border-right: solid 2px currentColor;
	  -webkit-transform: rotate(135deg);
	          transform: rotate(135deg);
	}
	&:hover,
	&:active,
	&:focus{
		background-color: #fff;
		@include main-deep(4);
		.download.icon{
			color: #000;
		}
	}
}
