//-----------------------------
//
//    Main Grid
//
//-----------------------------

// Container
//----------------------------------------------------------------
.container,
.container-fluid{
	@extend  .display-flex;
	@include flex-direction(column);
	@include flex-wrap(wrap);
	min-height: 0;
  min-width: 0;
	&.inline-container{
		@extend .display-inline-flex;
	}
}
.container{
	margin:0 auto;
	@media (min-width: $device-sm) {
	   max-width: auto;
	}
	@media (min-width: $device-md) {
	   max-width: $device-md;
	}
	@media (min-width: $device-lg) {
	  max-width: $device-lg;
	}
}
.container-fluid{
	width: 100%;
}

// Rows
//----------------------------------------------------------------
.row {
	@extend .display-flex;
	@include flex-wrap(wrap);
	min-height: 0;
  min-width: 0;
}
// row aligment
.row-align-v-center {
  @include align-items(center);
}
.row-align-v-bottom {
  @include align-items(flex-end);
}
.row-align-v-top {
  @include align-items(flex-start);
}
.row-align-v-baseline {
  @include align-items(baseline);
}
.row-align-h-center {
  @include justify-content(center);
}
.row-align-h-left {
  @include justify-content(flex-start);
}
.row-align-h-right {
  @include justify-content(flex-end);
}
.row-reverse {
  @include flex-direction(row-reverse);
}
// Columns System
//----------------------------------------------------------------
//_ Default column
[class*="col-"] {
  @include flex(0 0 100%);
  max-width: 100%;
	padding:0 15px;
}
//_ Column grid
@mixin column-widths($size) {
  @for $i from 1 through $total-columns {
    .col-#{$size}-#{$i} {
      @include flex(0 0 ($i / $total-columns) * 100%);
      max-width: ($i / $total-columns) * 100%;
    }
  }
}

// Columns Offset
//----------------------------------------------------------------
@mixin column-offsets($size) {
  @for $i from 1 through $total-columns {
    .col-#{$size}-offset-#{$i} {
      margin-left: ($i / $total-columns) * 100%;
    }
  }
}

// Columns Order
//----------------------------------------------------------------
@mixin column-order($size) {
  @for $i from 1 through $total-columns {
    .col-#{$size}-ord-#{$i} {
      order: $i;
    }
  }
}

// CSS Output
//----------------------------------------------------------------
@include column-widths(xxs);
@include column-offsets(xxs);
@include column-order(xxs);

@media (min-width: $device-xs) {
  @include column-widths(xs);
  @include column-offsets(xs);
  @include column-order(xs);
}

@media (min-width: $device-sm) {
  @include column-widths(sm);
  @include column-offsets(sm);
  @include column-order(sm);
}
@media (min-width: $device-md) {
  @include column-widths(md);
  @include column-offsets(md);
  @include column-order(md);
}
@media (min-width: $device-lg) {
  @include column-widths(lg);
  @include column-offsets(lg);
  @include column-order(lg);
}

// Main grid display settings
//-----------------------------
@for $FlexGrid from 1 through 8 {
	.grid-#{$FlexGrid},
	.grid-md-#{$FlexGrid},
	.grid-sm-#{$FlexGrid}{
  	@extend .display-flex;
		@include flex-wrap(wrap);
	}
	.grid-#{$FlexGrid} {
		> *{
   		@include flex-basis(calc(100% / (#{$FlexGrid})));
   	}
	}
}
// grid md break
@for $FlexGridMD from 1 through 4 {
	.grid-md-#{$FlexGridMD}{
		> *{
			@media (max-width: $device-md){
				@include flex-basis(calc(100% / (#{$FlexGridMD})));
			}
		}
	}
}
// grid sm break
@for $FlexGridSM from 1 through 4 {
	.grid-sm-#{$FlexGridSM}{
		> *{
			@media (max-width: $device-sm){
				@include flex-basis(calc(100% / (#{$FlexGridSM})));
			}
		}
	}
}
// grid xs break
@for $FlexGridXS from 1 through 4 {
	.grid-xs-#{$FlexGridXS}{
		> *{
			@media (max-width: $device-xs){
				@include flex-basis(calc(100% / (#{$FlexGridXS})));
			}
		}
	}
}

// Mixin for every resolution to fix horizontal scroll
@mixin grid-responsive-state(){
	@include flex-wrap(nowrap);
	@include justify-content(space-between);
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	/* firefox fix */
	@-moz-document url-prefix() {
  	max-width: 95vw;
	}
	@media (max-width: $device-xs){
		@-moz-document url-prefix() {
			max-width: 86vw;
		}
	}

}

// Horizontal Scrolling Grid
.grid-md-horizontal{
	@media (max-width: $device-md){
		@include grid-responsive-state();
	}
}
.grid-sm-horizontal{
	@media (max-width: $device-sm){
		@include grid-responsive-state();
	}
}
.grid-xs-horizontal{
	@media (max-width: $device-xs){
		@include grid-responsive-state();
	}
}



// Masonry container
.masonry-layout {
    column-count: $masonry-columns;
    column-gap: $masonry-gap;    
}

// CSS Layout Grid
.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--gridBox-height), 1fr));
    grid-gap: var(--grid-main-space);
    grid-auto-rows: minmax(var(--gridBox-height), auto);
    grid-auto-flow: dense;
    padding: var(--grid-main-padding);
}
