// Hero Banners Variables
//-----------------------------
$hero-main-height:      450px !default;

// Hero Banners & Intros
//-----------------------------
.hero{
  @extend .display-flex;
	@include flex-wrap(wrap);
	@include flex-direction();
  &.hero-center{
    @include align-items(center);
    @include justify-content(center);
    text-align: center;
  }
  //__ Reset all banner elements
  .tagline > *{
    margin: 0;
  }
}

//__ Hero Full Height
.hero-full-height{
  min-height: 100vh;
}
//__ Hero Controled Height
.hero-height{
  min-height: $hero-main-height;
}
