//-----------------------------
//
//    Variables
//
//-----------------------------

//** Grid System
$total-columns:       12 !default;
$gutter-width:        30px !default;


//** Navbar
$navbar-main-padding:   15px !default;
$navbar-height:         64px !default;
$navbar-background:     transparent !default;
// pills nav
$navbar-pills-padding:  10px 15px !default;
$navbar-pills-radius:   12px !default;
$navbar-pills-space:    10px !default;


//** Media Breakpoints
$device-all: 					300px !default;
$device-xs: 					480px !default;
$device-sm: 					768px !default;
$device-md: 					992px !default;
$device-lg: 					1200px !default;
$navbar-collapse:     $device-sm !default;
